<div class="row">

	<div class="col-md-6">
		<div class="todo-wrapper">
			<h2>Comleted List</h2>
			<ul class="todo-list todo-list-bin not-completed" id="completed" droppable drop="handleDrop">
				<li class="todo-list-item item" id="{{cstodo._id}}" draggable="true" draggableEl ng-repeat="cstodo in completed">
					<div>

						<div ng-hide="thisButton == false">
							<span class="todo-title">{{cstodo.title}}</span>
							<div class="todo-desc" ng-bind-html="$sce.trustAsHtml(cstodo.description)"></div>
							<span ng-class="cstodo.status" class="status" title="{{cstodo.status}}">{{cstodo.status}}</span>
							<span ng-class="cstodo.username">{{}}</span>
						</div>

						<!-- EDIT FORM -->

						<div class="edit-form" ng-hide="thisButton == true">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="cstodo.title">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="cstodo.description">
							</div>
						</div>


					</div>
					<div class="button-box">
						<input type="button" class="btn btn-primary" ng-disabled="item.done == 1 ? true:false" ng-hide="thisButton == false" ng-click="thisButton = false; "
						    value="EDIT" />
						<input type="button" class="btn btn-success" ng-click="editRecord(cstodo._id, cstodo.title, cstodo.description,cstodo.status); thisButton=true"
						    ng-hide="thisButton == true" value="SAVE" />
					</div>
					<input class="btn btn-danger remove todo-remove" ng-click="deleteRecord(cstodo._id, cstodo.status, $index)" value="X" type="button">


				</li>
			</ul>

		</div>
	</div>
	<div class="col-md-6">
		<div class="todo-wrapper">
			<h2>InComleted List</h2>
			<ul class="todo-list todo-list-bin completed" id="notCompleted" droppable drop="handleDrop">
				<li class="todo-list-item item" id="{{cstodo._id}}" draggable="true" draggableEl ng-repeat="cstodo in incompleted">
					<div>

						<div ng-hide="thisButton == false">
							<span class="todo-title">{{cstodo.title}}</span>
							<div class="todo-desc" ng-bind-html="$sce.trustAsHtml(cstodo.description)"></div>
							<span ng-class="cstodo.status" class="status" title="{{cstodo.status}}">{{cstodo.status}}</span>
							<span ng-class="cstodo.username">{{}}</span>
						</div>

						<!-- EDIT FORM -->

						<div class="edit-form" ng-hide="thisButton == true">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="cstodo.title">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="cstodo.description">
							</div>
						</div>


					</div>
					<div class="button-box">
						<input type="button" class="btn btn-primary" ng-disabled="item.done == 1 ? true:false" ng-hide="thisButton == false" ng-click="thisButton = false; "
						    value="EDIT" />
						<input type="button" class="btn btn-success" ng-click="editRecord(cstodo._id, cstodo.title, cstodo.description,cstodo.status); thisButton=true"
						    ng-hide="thisButton == true" value="SAVE" />
					</div>
					<input class="btn btn-danger remove todo-remove" ng-click="deleteRecord(cstodo._id,cstodo.status, $index)" value="X" type="button">

				</li>
			</ul>
		</div>
	</div>
</div>